body{
    background-color: #EAF6F6;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
h2{
    color: #66BFBF;
}
hr{
   
    border-style:none;
    border-top-style:dotted;
    border-color:rgb(108, 108, 108) ;
    border-width: 5px;
    height: 0px;
    width: 5%;
}
#hobbies{
    
    
}
